

* {
  font-family: sans-serif;
  font-display: swap;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  a {
    color: #333;
  }
  #links {
    background: #fff;
  }  
  #text {
    background: #ddd;
  }
}


@media (prefers-color-scheme: light) {
  body {
    background-color: #ddd;
  }
  a {
    color: #fff;
  }
  #links {
    background: #555
  }  
  #text {
    background: #333;
  }
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  margin: 1em;
}

a:hover {
  text-decoration: underline;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #00000000;
  color: #00000000;
  padding: 8pxname;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}


#links {
  font-size: min(2em,6vw);
}

.text-icon {
  display: inline-flex;
  align-self: center;
  height:1em;
  width:1em;
}

#text {
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: min(400px,30vw);
  background-position: center;
  width: 100vw;
}

#title {
  font-size: min(5em,15vw);
  margin: 0px;
}

#subtitle {
  font-size: min(3em,9vw);
  margin: 0px;
  margin-bottom: 1vw;
}