include member.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="Realliance Landing Page")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(rel="icon", href="/favicon.ico")
    link(rel="stylesheet", href="/misc.css")
    link(rel="stylesheet", href="/tailwind.css")
    title Realliance
  body.bg-gray-800.text-white.grid.h-screen.place-items-center
    div.flex.flex-col.items-center.mx-2
      img(src="logo.png", width=256).my-1
      hr.max-w-md.w-20.my-2
      h2.text-4xl.font-semibold Realliance
      p.max-w-xl.text-center Realliance is a group of friends and engineers here to make cool things. Forming under our current name in 2018, we collaborate in the spaces of cloud computing, reverse engineering, and game development.
      div.flex.flex-row.flex-wrap.gap-2.my-2.justify-center
        a(href="https://github.com/realliance", class="inline-flex items-center rounded-md border border-transparent bg-gray-200 px-4 py-2 text-md font-semibold text-black shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2") Github
        a(href="https://app.hackthebox.com/teams/overview/393", class="inline-flex items-center rounded-md border border-transparent bg-green-200 px-4 py-2 text-md font-semibold text-black shadow-sm hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2") HackTheBox
      .max-w-4xl
        include ../intermediate/_memberlist.pug
